<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drivers.demo.dao.DocumenttypeMapper">
  <resultMap id="BaseResultMap" type="com.drivers.demo.entity.Documenttype">
    <id column="documentnoint" jdbcType="INTEGER" property="documentnoint" />
    <result column="documentname" jdbcType="VARCHAR" property="documentname" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from documenttype
    where documentnoint = #{documentnoint,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.drivers.demo.entity.Documenttype">
    insert into documenttype (documentnoint, documentname)
    values (#{documentnoint,jdbcType=INTEGER}, #{documentname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.drivers.demo.entity.Documenttype">
    update documenttype
    set documentname = #{documentname,jdbcType=VARCHAR}
    where documentnoint = #{documentnoint,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select documentnoint, documentname
    from documenttype
    where documentnoint = #{documentnoint,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select documentnoint, documentname
    from documenttype
  </select>
</mapper>